  <form action="" id='form-login'>
    <p>
      <label for='name'>Name:</label>
          <span class='input-fine'>
          &#9746
          </span>
      <input type='textfield' id ='name' name='name' maxlength = '64' onkeydown='zoyoe.ui.InputKeydownListener(event)'/>
    </p>
    <p>
      <label for="password">Password:</label>
          <span class='input-fine'>
          &#9746
          </span>
      <input type='password' id ='password' name='password' maxlength = '64' onkeydown='zoyoe.ui.InputKeydownListener(event)'/>
    </p>
   </br>
  </form>
