  <form action="" id='form-register'>
    <p id='name'>
      <label for="name">Name:</label>
          <span class='input-fine'>
          &#9746
          </span>
      <input type='textfield' id = 'text' name='name' maxlength = '64' onkeydown='zoyoe.ui.InputKeydownListener(event)'/> 
    </p>
    <p id='password'>
      <label for="password">Password:</label>
          <span class='input-fine'>
          &#9746
          </span>
      <input type='password' id ='password' name='password' maxlength = '64' onkeydown='zoyoe.ui.InputKeydownListener(event)'/>
    </p>
    <p>
      <label for="confirm">Confirm:</label>
      <input type='password' id ='confirm' name='confirm' maxlength = '64' onkeydown='zoyoe.ui.InputKeydownListener(event)'/>
    </p>
    <p id='email'>
      <label for='email'>Email:</label>
          <span class='input-fine'>
          &#9746
          </span>
      <input type='textfield' name='email' maxlength = '64' onkeydown='zoyoe.ui.InputKeydownListener(event)'/>
    </p>
    <p>
    <span class="commit" onclick="zoyoe.ui.SubmitForm();">Register</span>
    <span class="cancel" onclick="zoyoe.ui.HideDialog();">Back</span>
    </p>
    <br style="clear:both"/>
  </form>
