 <div id="foot">
 <div class="contact">
 <ul>
  <li>Connect us via</li>
  <li><a>Email</a></li>
  <li><a>Twitter</a></li>
  <li><a>Facebook</a></li>
 </ul>
 </div>
 <div class="contact">
 <ul>
  <li>Extra Services</li>
  <li><a>Email Retailing</a></li>
  <li><a>Ebay Shop Building</a></li>
  <li><a>Web Services</a></li>
 </ul>
 </div>
 <div class="contact">
 <ul>
  <li>Developers Welcomed</li>
  <li><a>our project on google</a></li>
  <li><a>bug report</a></li>
  <li><a>coming features</a></li>
 </ul>
 </div>
 <div style="clear:both">
 </div>

