 <div id="foot">
 <div class="contact">
 <ul>
  <li style='font-weight:bold;'>Connect us via</li>
  <li><a href='mailto:zoyoeproject@gmail.com'>Email</a></li>
  <li><a href='https://twitter.com/#!/zoyoeproject'>Twitter</a></li>
  <li><a href='http://www.facebook.com/pages/Zoyoe/174678205955396'>Facebook</a></li>
 </ul>
 </div>
 <div class="contact">
 <ul>
  <li style='font-weight:bold;'>Extra Services</li>
  <li><a >Email Retailing</a></li>
  <li><a>Ebay Shop Building</a></li>
  <li><a>Web Services</a></li>
 </ul>
 </div>
 <div class="contact">
 <ul>
  <li style='font-weight:bold;'>Developers Welcomed</li>
  <li><a>our project on google</a></li>
  <li><a>bug report</a></li>
  <li><a>coming features</a></li>
 </ul>
 </div>
 <div style="clear:both">
 </div>

