<form id='form-mdytemplate' action="">
  <div class="extension-select-list">
    <ul>
      <li><h5>default</h5><span>&#9746</span></li>
      <li><h5>twolane</h5><span>&#9744</span></li>
      <li><h5>vertical</h5><span>&#9744</span></li>
    </ul>
    <input name='name' value='default'></input>
  </div>
  <p>
   <span class="commit" onclick="zoyoe.ui.SubmitForm();">Change Template</span>
   <span class="cancel" onclick="zoyoe.ui.HideDialog();">Back</span>
  </p>
  <br style="clear:both"/>
</form>
