{% load hash_filters %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>Adult Services Distribution Admin</title>
  <!-- YUI Components --> 
  <link rel="stylesheet" href="/css/default/element.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/default/dialog.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/default/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/default/service.css" type="text/css" media="all" charset="utf-8"/>
  <!--link rel="stylesheet" href="/css/default/bx_styles/bx_styles.css" type="text/css"/-->
  <script type="text/javascript" charset="utf-8"
          src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js">
  </script>
  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <!--<script type="text/javascript" src="/js/admin.js"></script>-->
  <script type="text/javascript" src="/js/comps.js"></script>
  <script type="text/javascript" src="/js/dialog.js"></script>
  <script type="text/javascript" src="/js/ele.js"></script>
  <script type="text/javascript" src="/js/mesh.js"></script>
  <script type="text/javascript" src="/js/ui.js"></script>

  <script type="text/javascript">
    function document_load(){
      YUI().use('node','io-form',function(Y){
       	var zoom = 15;
      	var center = null;
        if({{LOC.x}} != 0 && {{LOC.y}} != 0){
          center = new Microsoft.Maps.Location({{LOC.x}},{{LOC.y}});
        }else{
          zoom = 11;
        }
        zoyoe.admin = InitAdmin(zoyoe);
        zoyoe.service_name = '{{SERVICE.name}}';
        new MapInfoCore(function(rmap){
           sdist(rmap);
        },center,"map-info",zoom,true);
        zoyoe.InitZoyoe(false,Y);
      });
      hrefStr = "/map/?location={\"x\":" + {{LOC.x}} + ",\"y\":" + {{LOC.y}} + "}";
      document.getElementById("map-link").href= hrefStr;
    }
    function sdist(ret_map){
      YUI().use('io-form',function(IO){
        var uri = ("/core/data/getservices/?tstmp={{TIME_STAMP}}");
        zoyoe.map = ret_map;
        function complete(io,o,args){
          var s_element = o.responseXML.documentElement.getElementsByTagName('SERVICE');
          for(var i=0;i<s_element.length;i++){
            var element = s_element[i];
            var service = new Service(element);
            ret_map.AddService(service);
          }
          ret_map.ShiftZoom(true);
        }
        IO.on('io:complete',complete);
        var request = IO.io(uri);
      });
    }
  </script>
 </head>
 <body onload="document_load()" >
  <div class='page'>
    <div id='title-bar'>
      <div class='nav'>
        <ul>
          <li class='menu'><a href='/search/'>Home</a></li>
          {% if user.is_authenticated %}
          <li class='menu' onclick ="Logout()"><a>Logout</a></li>
          {% else %}
          <li class='menu' onclick ="zoyoe.admin.ShowLoginDialog()"><a>Login</a></li>
          <li class='menu' onclick ="zoyoe.admin.ShowRegisterDialog()"><a>Register</a></li>
          {% endif %}
          <li class='menu' onclick ="zoyoe.admin.ShowAddServiceDialog()"><a>Publish</a></li>
        </ul>
        <div class='title'>
          <a href="/search/"><img src="/res/map_logo_5.png" width="236px" height="40px"/></a>
        </div>
      </div>
    </div>
    <div class='mid-section'>
      <div style="width:266px;margin-top:-25px;margin-bottom:15px;clear:both;border-bottom:1px solid #4c4c4c;text-align:right;">
        <h3 style="margin:0;padding:0;padding-right:10px;color:#cccccc;font-size:24px;">Map Show</h3>
      </div>
      <div class='section-container'>
        <div class='section' style="width:696px;height:535px;padding:0;border:3px solid #cccccc;">
          <div id="map-info" style="width:690px;height:528px;z-index:10;position:absolute;border:3px solid black;">
          </div>
          <div style="z-index:11;position:absolute;opacity:0;background-color:white;width:696px;height:250px;">
          </div>
          <a style="z-index:12;position:relative;display:block;text-decoration:none;opacity:0.3;width:696px;height:40px;top:0px;padding-top:250px;padding-bottom:250px;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';text-align:center;font-size:30px;font-weight:bold;color:white;" href="/map/" id="map-link">
           <div style="width:696px;background-color:blue;">SHOW ALL SERVICES ON MAP</div>
          </a>
          <div style="width:33px;height:164px;position:relative;top:-531px;left:678px;z-index:100;"><img src="/res/feature_arrow.png"></img></div>
        </div>
      </div>
    </div>
    <div style="margin-top:20px;padding-bottom:11px;float:right;background-color:#262626;z-index:100;">
      <ul>
        <li style="width:256px;height:166px;padding-top:11px;">
          <div style="width:235px;height:166px;margin:auto;background-color:#333333;">
            <div style="width:215px;margin:auto;border-bottom:1px solid black;">
              <a style="border:none;" href="#"><img src='/res/res_error.png' style="width:80px;height:80px;margin:11px;margin-left:0;float:left;border:1px solid #cccccc;"></img></a>
              <div style="height:93px;margin-right:11px;padding-top:10px;overflow:hidden;">
                <p style="margin:0;">
                  <span><a style="color:#ff25a5;text-decoration:none;font-size:14px;font-weight:800;" href="#">12 Cottam</a></span>
                </p>
                <div style="margin-top:8px;color:#939393;font-size:12px;font-weight:800;line-height:20px;overflow:hidden;">
                  <span>Brothel</span><br>
                  <span>1234 5678</span><br>
                  <div style="height:22px;overflow:hidden;"><span>12 Cottam Ave AAA</span></div>
                </div>
              </div>
            </div>
            <div style="width:218px;height:60px;margin:auto;color:#999999;font-size:12px;font-weight:100;line-height:18px;overflow:hidden;">
              <p style="margin-top:3px;">Business among the world, while a looking to secure access to raw-materials workforce and recognises the contribution.</p>
            </div>
          </div>
        </li>
        <li style="width:256px;height:166px;padding-top:11px;">
          <div style="width:235px;height:166px;margin:auto;background-color:#333333;">
            <div style="width:215px;margin:auto;border-bottom:1px solid black;">
              <a style="border:none;" href="#"><img src='/res/res_error.png' style="width:80px;height:80px;margin:11px;margin-left:0;float:left;border:1px solid #cccccc;"></img></a>
              <div style="height:93px;margin-right:11px;padding-top:10px;overflow:hidden;">
                <p style="margin:0;">
                  <span><a style="color:#ff25a5;text-decoration:none;font-size:14px;font-weight:800;" href="#">12 Cottam</a></span>
                </p>
                <div style="margin-top:8px;color:#939393;font-size:12px;font-weight:800;line-height:20px;overflow:hidden;">
                  <span>Brothel</span><br>
                  <span>1234 5678</span><br>
                  <div style="height:22px;overflow:hidden;"><span>12 Cottam Ave AAA</span></div>
                </div>
              </div>
            </div>
            <div style="width:218px;height:60px;margin:auto;color:#999999;font-size:12px;font-weight:100;line-height:18px;overflow:hidden;">
              <p style="margin-top:3px;">Business among the world, while a looking to secure access to raw-materials workforce and recognises the contribution.</p>
            </div>
          </div>
        </li>
        <li style="width:256px;height:166px;padding-top:11px;">
          <div style="width:235px;height:166px;margin:auto;background-color:#333333;">
            <div style="width:215px;margin:auto;border-bottom:1px solid black;">
              <a style="border:none;" href="#/"><img src='/res/res_error.png' style="width:80px;height:80px;margin:11px;margin-left:0;float:left;border:1px solid #cccccc;"></img></a>
              <div style="height:93px;margin-right:11px;padding-top:10px;overflow:hidden;">
                <p style="margin:0;">
                  <span><a style="color:#ff25a5;text-decoration:none;font-size:14px;font-weight:800;" href="#">12 Cottam</a></span>
                </p>
                <div style="margin-top:8px;color:#939393;font-size:12px;font-weight:800;line-height:20px;overflow:hidden;">
                  <span>Brothel</span><br>
                  <span>1234 5678</span><br>
                  <div style="height:22px;overflow:hidden;"><span>12 Cottam Ave AAA</span></div>
                </div>
              </div>
            </div>
            <div style="width:218px;height:60px;margin:auto;color:#999999;font-size:12px;font-weight:100;line-height:18px;overflow:hidden;">
              <p style="margin-top:3px;">Business among the world, while a a a looking to secure access to raw-materials workforce and recognises the contribution.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class='mid-section' style="width:100%;clear:both;">
      <div style="width:266px;margin-bottom:15px;border-bottom:1px solid #4c4c4c;text-align:right;">
        <h3 style="margin:0;padding:0;padding-right:10px;color:#cccccc;font-size:24px;">Search Results</h3>
      </div>
      <div class='mid-section' style="width:949px;margin:auto;padding:0;padding-top:11px;padding-left:11px;background-color:#262626;">
            <ul>
              {% for service in DATA%}
              <li style="width:50%;height:167px;float:left;">
                <div style="margin-right:11px;height:156px;background-color:#333333;">
                  <a style="border:none;" href="/core/service/{{service.name}}/"><img src='/core/data/res/{{service.name}}/{{service.icon}}/?sc=true' style="width:134px;height:134px;margin:11px;float:left;border:1px solid #cccccc;"></img></a>
                  <div style="height:21px;margin-right:11px;padding-top:10px;overflow:hidden;border-bottom:1px solid black">
                    <p style="margin:0;">
                      <span><a style="color:#e9e9e9;text-decoration:none;font-size:14px;font-weight:800;" href="/core/service/{{service.name}}/">{{service.name}}</a></span>
                    </p>
                  </div>
                  <div style="height:111px;color:#939393;font-size:14px;overflow:hidden;">
                    <div style="margin-top:3px;margin-right:11px;font-weight:800;line-height:19px;">
                      <div style="float:left;">
                        <span>{{service.phone}}</span>
                      </div>
                      <div style="float:right;">
                        <span>{{service.type}}</span>
                      </div>
                      <div style="clear:both;">
                        <span>{{service.address}}</span>
                      </div>
                    </div>
                    <div style="line-height:19px;">
                      <p>{{service.description}}</p>
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
      </div>
    </div>
    <div style="clear:both;">
      <span>FOOTER</span>
    </div>
  </div><!-- page -->
  <div id='zsk' class='msk'>
  </div>
  <div id='dialog'>
   <div class='dialog'>
    <div class='dialog-hint'>
    </div>
    <div class='dialog-content'>
    </div>
    <div class='button-lane'>
      <input type='button' value='ok' class="commit" onclick='zoyoe.ui.SubmitForm();'></input>
      <input type='button' value='cancel' class="cancel" onclick='zoyoe.ui.HideDialog();'></input>
    </div>
   </div>
  </div>
</body>
</html>

