{% extends 'core/clean.html' %}
{% load hash_filters %}
{% load comp_filters %}
{% block title %} Sydney Menu {% endblock %}

{% block css_link %}
  <link rel="stylesheet" href="/css/contrib/element.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/default/dialog.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/default/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/default/admin.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/default/nav.css" type="text/css" media="all" charset="utf-8"/>
{% endblock %}

{% block js_link %}
  <script type="text/javascript" charset="utf-8"
          src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js">
  </script>
  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <script type="text/javascript" src="/js/comps.js"></script>
  <script type="text/javascript" src="/js/dialog.js"></script>
  <script type="text/javascript" src="/js/ele.js"></script>
  <script type="text/javascript" src="/js/mesh.js"></script>
  <script type="text/javascript" src="/js/ui.js"></script>

  <script type="text/javascript">
    zoyoe.maptoggle = 0;
    function mapToggle(){
      zoyoe.maptoggle = 1 - zoyoe.maptoggle;
      YUI().use('node','anim',function(Y){
        if(zoyoe.maptoggle == 1){
          var anim = new Y.Anim({
            node:'#map-lane',
            to:{height:"380px"},
            duration:0.2,
          });
          anim.run();
          Y.one('#rslt-block').setStyle('marginTop',"400px");
        }else{
          Y.one('#rslt-block').setStyle('marginTop',"120px");
          Y.one('#map-lane').setStyle('height',"100px");
        } 
      });
    }
    function document_load(){
      YUI().use('node','anim','io-form',function(Y){
       	var zoom = 15;
      	var center = null;
        {% if LOC %}
        if({{LOC.x}} != 0 && {{LOC.y}} != 0){
          center = new Microsoft.Maps.Location({{LOC.x}},{{LOC.y}});
        }
        {% endif %}
        zoyoe.admin = InitAdmin(zoyoe);
        zoyoe.service_name = '{{SERVICE.name}}';
        new MapInfoCore(function(rmap){
           sdist(rmap);
        },center,"map-info",zoom,true);
        if(zoyoe.ElementExtension){
          zoyoe.ElementExtension.BuildExtensionElements();
        }
        var input = Y.one("div.extension-auto-complete").one("input");
        var dom_input = Y.Node.getDOMNode(input);
        dom_input.ext_onchange = function(searchStr){
          if(zoyoe.map){
            zoyoe.map.TargetPlace(searchStr,"AutoCompJSON");
          }else{
            zoyoe.ALERT("Map not loaded");
          }
        }
        zoyoe.InitZoyoe(false,Y);
        Y.one('#report-bar').on('click',function(e){
            e.preventDefault();
            e.stopPropagation();
        });
      });
    }
    function sdist(ret_map){
      YUI().use('io-form',function(IO){
        var uri = ("/core/data/getservices/?tstmp={{TIME_STAMP}}");
        zoyoe.map = ret_map;
        function complete(io,o,args){
          var s_element = o.responseXML.documentElement.getElementsByTagName('SERVICE');
          for(var i=0;i<s_element.length;i++){
            var element = s_element[i];
            var service = new Service(element);
            ret_map.AddService(service);
          }
          ret_map.ShiftZoom(true);
        }
        IO.on('io:complete',complete);
        var request = IO.io(uri);
      });
    }
  </script>
{% endblock %}

{% block bar %}
{% endblock %}

{% block nav %}
  {% if user.is_authenticated %}
  <li class='menu' onclick ="Logout()"><a>Logout</a></li>
  {% else %}
  <li class='menu' onclick ="zoyoe.admin.ShowLoginDialog()"><a>Login</a></li>
  <li class='menu' onclick ="zoyoe.admin.ShowRegisterDialog()"><a>Register</a></li>
  {% endif %}
  <li class='menu'><a href='/search/'>Home</a></li>
  <li class='menu'><a href='/map/'>Distribution</a></li>
  <li class='menu'><a href='/mark/'>Recommandations</a></li>
  <li class='menu' onclick ="zoyoe.admin.ShowAddServiceDialog()"><a>Publish</a></li>
{% endblock %}
 
{% block content %}
  <div id='map-lane' onclick="mapToggle()">
    <div class='dense' style="float:left;">
      <div class="map-title">
        <div><img src="/res/pushpin_tiny.png">
       Try our distribution map and sharing your experience with us
        </div>
        <div id="map-bot" style="z-index:20;position:relative;top:315px;">
        </div>
      </div>
      <div id="map-info" style="height:300px;z-index:10;">
      </div>
    </div>
    <div id="report-bar">
      <form name="form-report">
        <div class="head">
        <h5>Sharing Your Experience:</h5>
        </div>
        <div class='window-container'>
          <label>OF:</label>
          {% select %}
          {"name":"type",
           "style":"width:240px;float:left;margin-bottom:2px;",
           "fields":["Breakfast","Lunch","Dinnner"],
           "default":"Breakfast"}
          {% endselect %}
        </div>
        <div class='window-container'>
          <label>IN(restaurant name):</label>
          <input class="normal" type="textfield" name="name"></input>
        </div>
        <div class='window-container'>
          <label>AT(address):</label>
          {{"address"|auto_complete|style:"width:240px;height:30px;float:left;margin-bottom:2px;"|render|safe}}
        </div>
        <div class='window-container'>
          <label>FOR(what food you've ordered):</label>
          <input class="normal" type="textfield" name="item"></input>
        </div>
        <div class='window-container'>
          <input type="button" onclick="zoyoe.admin.AddReport()" class="report-btn" value="SHARE"></input>
        </div>
      </form>
    </div>
  </div>
  <div id='rslt-block' style="margin-top:120px;">
   <div class='mid-section' style="clear:both;">
       {% for service in DATA%}
          <div class='clip'>
          <img src="/core/data/res/{{service.name}}/icon/?"></img>
          <ul>
          <li class='name'><a href="/core/service/{{service.name}}">{{service.name}}</a></li>
          <li class='fade'>{{service.email}}</li>
          <li class='dscp'>{{service.description}}</li>
          </ul>
        </div>
        {% endfor %}
   </div>
   <div class='mid-section' style="clear:both;">
        {% for info in SIDEDATA%}
          {% with info|info as data %}
          {% with data|hash:"ATTRS" as attrs %}
          {% with data|hash:"TEXT" as description %}
            <div class='clip'>
              <a href="/core/service/{{info.service}}/">
               <img src="{{attrs|hashout:'icon'}}/?sc=true">
               </img>
              </a>
              <ul>
              <li class='name'><a href="/core/service/{{info.service}}/">{{attrs|hashout:'name'}}</a>
              {% for attr in attrs %}
                <li class='fade'>{{attr}}:<span>{{attrs|hash:attr}}</span></li>
              {% endfor %}
              <li class='fade'>collected in <a href="/core/service/{{info.service}}/">{{info.service}}</a></span></li>
              <li class='dscp'>{{description}}</li>
              </ul>
           </div>
          {%endwith%}
          {%endwith%}
          {%endwith%}
        {% endfor %}
   </div>
  </div><!-- page -->
 </div>
 <div id="search-result">
 <span class='snum'>0</span> services and items found,<span class='inum'> 0</span> showed. <span class='btn'>show more</span>
 </div>
{% endblock %}

{% block tail %}
 <div id='zsk' class='msk'>
  </div>
{% endblock %}
