<html>
 <head>
  <link rel="stylesheet" href="/css/contrib/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/wiki.css" type="text/css" media="all" charset="utf-8"/>
 </head>
 <body>
  <form action='/core/user/reactivate/'>
  <label style="display:block;float:left;margin:5px 0px 5px 0px;">Your Account Email:{{MSG}}</label>
  <input name="email" value="your email" class="textfield" style="display:block;margin:0px 5px 0px 0px;font-size:15px;float:left;clear:both;" type="textfield">
     </input></br>
  <input type='submit' class="spanblue"
     style="display:block;float:left;margin-bottom:5px;" value="reactivate" ></input></br>
  </form>
 </body>
</html>

