{% extends 'core/clean.html'%}
{% load comp_filters %}
{% block css_link %}
  <link rel="stylesheet" href="/css/contrib/search.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/960.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/nav.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/dialog.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/element.css" type="text/css" media="all" charset="utf-8"/>
  <style type="text/css">
    #search-bar {
      clear:both;
      padding:0px;
      top:80px;
      margin:auto;
      position:relative;
      height:0px;
      width:750px;
    }

    #search-bar input{
      height:38px;
      position:relative;
      width:738px;
      padding:0 5px 0 5px;
      margin-top:7px;
      top:0px;
      font-size:25px;
      border:none;
      font:21px arial,sans-serif bold;
      border:1px solid #EAEAEA;
      -moz-box-shadow: 2px 2px 3px #969696;
      -webkit-box-shadow: 2px 2px 3px #969696;
      zoom: 1;
      filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
    }

    .function-block {
      height: 200px;
      border:1px solid gray;
    }
    #search-btn{
      display:block;
      padding:14px;
      float:left;
      font-size:20px;
      text-transform:uppercase;
      background-color: steelblue;
      margin:10px 0 0 10px;
      cursor:pointer;
      color:#eeeeee;
      border:2px solid #999999;
    }


  </style>
{% endblock %}

{% block js_link %}
  <!-- YUI Components --> 
  <script type="text/javascript" charset="utf-8"
          src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js">
  </script>

  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <!-- need finally make a new js file contain all the info manage script -->	
  <script type="text/javascript" src="/js/mesh.js"></script>
  <!-- Project Components -->

  {% zoyoejs 'all' %}
  <script type="text/javascript" src="/js/search.js"></script>
{% endblock %}

{% block title %} zoyoe sydneyscent {% endblock %}

{% block bar %}
{% endblock %}

{% block nav %}
  <li class='menu'><a href='/zoyoe/'>Zoyoe</a></li>
  <li class='menu'><a href='/search/'>Service Cards</a></li>
  <li class='menu'><a href='/map/'>Distribution</a></li>
  <li class='menu'><a href='/forum/'>Forum</a></li>
  <li class='menu'><a href='/gallery/main'>Gallery</a></li>
  {% if user.is_authenticated %}
  <li class='menu' onclick ="zoyoe.admin.Logout()"><a>Logout</a></li>
  {% else %}
    <li class='menu' onclick ="zoyoe.admin.ShowLoginDialog()"><a>Login</a></li>
    <li class='menu' onclick ="zoyoe.admin.ShowRegisterDialog()"><a>Register</a></li>
  {% endif %}
{% endblock %}

{% block content %}
 <div class='nav-sup' style="margin-bottom:90px;">
   <div class='container_12'>
     <div class='grid_12'>
       <div class='photo-block'>
         <h1 style="font-weight:bolder;font-size:35px;font-family:Times New Roman, Times, serif;">
         business cards of local services
         </h1>
         <h2 style="font-size:15px;font-family:">
         zoyoe, integrating your local business with your online community
         </h2>
         <div class="buttons shadow">
           <a class="button current quicksearch">
             Quick Search 
           </a>
           <a href="/mark/" class='button recommandation'>Recommandation</a>
           <a href="/map/" class="button distribution">
             Distribution
           </a>
           <a href="/glue/collection/personal" class="button collection">
             My Collection 
           </a>
           <a class="button support">
             Support & Forum
           </a>
         </div>
         <div id="search-bar">
         {{"AutoComplete"|auto_complete|style:"padding:0px;margin:0px 2px 0px 2px;"|render|safe}}
          <div class="hint">
            <div id="match-option" class="option">
              <a class='select' onclick="zoyoe.search.SetPreference('general',0)">Services</a>
              <a onclick="zoyoe.search.SetPreference('address',1)">Address</a>
              <a onclick="zoyoe.search.SetPreference('item',2)">Items</a>
            </div>
            <div class="invalid-hint">Invalid Query String</div>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <form id="search" action="javascript:zoyoe.search.PreSearch();" class="container_12" style="padding-top:130px;"><!-- Just for convenience, Not very useful -->
    <div id = "filter-bar">
      <div id = "service-type" class="drop-list">
        <div class="label">
        Service Type
        </div>
        {% typetags "type" %}
      </div>
      <div id = "service-local" class="drop-list" style="clear:both">
        <div class="label">
        Locality 
        </div>
        {% localtags "local" %}
      </div>
    </div>
 </form><!-- End of the main form -->
   <div class='container_12'>
     <div class='personalize'>
       <iframe src="http://www.facebook.com/plugins/like.php?href=www.sydneyscent.com&show_faces=false"
        scrolling="no" frameborder="0"
        style="top:0px;border:1px solid #EAEAEA;background-color:white;width:450px;height:25px;"></iframe>
     </div>
   </div>
{% endblock %}

{% block tail %}
 {% include "core/_tail.html" %}
{% endblock %}
