<div id = 'float-info' class='float-info on-msk'>
  <div class='smap' id='float-info-location'></div>
  <div class='nest'>
    <span>3</span>
    <div>
    <a>Services Nested Here.</a>
    <div class="switch-on"></div>
    <div class="switch-off"></div>
    <div class="switch-off"></div>
    <div class="switch-off"></div>
    </div>
  </div>
  <div class='section'>
   <div class='img'>
     <div class='img1 shadow'>
     </div>
   </div>
   <div class='info-block'>
   <ul>
      <li><a class='name'>name</a></li>
      <li><a class='phone'>phone</a></li>
      <li><a class='email'>email</a></li>
      <li><a class='wds'>wds</a></li>
    </ul>
   </div>
   <div style="width:246px;clear:both;">
    <h3 class='split shadow'>Address:</h3>
    <div class='info-block'>
      <div class='address'>Sydney Center</div>
    </div>
    <h3 class='split shadow'>Description:</h3>
    <div class='description'>Put your description here</div>
   </div>
  </div>
  <div class='center' onclick="zoyoe.CloseShortCut()">
    <img src='/res/close.png' alt='-'></img>
  </div>
</div>

