{% if ROOT %}
    <div class='section-container close'>
{% endif %}
      <div id='gallery' class='section'>
        <div class='title'>
          <h3>Gallerys</h3>
        </div>
        <div class='info-block'>
          <ul>
            {% for n,v in GALLERY_INFO.iteritems %}
            <li>
              <a href = "/gallery/view/{{SERVICE.name}}/{{n}}/">
              <div class='gicon'>
              {% if v %}
                <img src='/gallery/image/{{SERVICE.name}}/{{n}}/{{v|first}}/?sc=large&cite=1'></img>
              {% else %}
                <img src='/gallery/image/{{SERVICE.name}}/{{n}}/unknow/?sc=large&cite=1'></img>
              {% endif %}
              </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <br style="clear:both"/>
      </div>
{% if HAS_AUTHORITY %}
      <div class='tail'>
       <h3><a onclick="zoyoe.comps['GALLERY'].ShowAddDialog()">add new gallery</a></h3>
      </div>
{% endif %}
{% if ROOT %}
    </div>
{% endif %}
