{% load hash_filters %}
{% load comp_filters %}
{% if ROOT %}
    <div class='section-container open'>
{% endif %}
      <div class='section item' id="hint">
        <div class='title'>
           <h3>Hint</h3>
        </div>
        <div class='info-block'>
          {% for hint in COMP|hash:"ITEMS"|hash:"hint" %}
          {{COMP|hash:"RENDER"|xslt:hint|safe}}
          {% endfor %}
          <br style="clear:both"/>
        </div>
      </div>
{% if HAS_AUTHORITY %}
      <div class='tail'>
        <h3><a href="/glue/data/{{SERVICE.entity.name}}/hint/">modify</a></h3>
      </div>
{% endif %}
{% if ROOT %}
    </div>
{% endif %}
