{% load hash_filters %}
{% load comp_filters %}
{% if ROOT %}
    <div class='section-container open'>
{% endif %}
      <div class='section item' id="info">
        <div class='title'>
           <h3>Info</h3>
        </div>
        <div class='info-block'>
          {% for info in COMP|hash:"ITEMS"|hash:"info" %}
          {{COMP|hash:"RENDER"|xslt:info|safe}}
          {% endfor %}
          <br style="clear:both"/>
        </div>
      </div>
{% if HAS_AUTHORITY %}
      <div class='tail'>
        <h3><a href="/glue/data/{{SERVICE.entity.name}}/info/">modify</a></h3>
      </div>
{% endif %}
{% if ROOT %}
    </div>
{% endif %}
