{% load hash_filters %}
{% load comp_filters %}
{% if ROOT %}
    <div class='section-container open'>
{% endif %}
      <div class='section' id="item">
        <div class='title'>
           <h3>Items</h3>
        </div>
        <div class='info-block'>
          {% for item in COMP|hash:"ITEMS"|hash:"item" %}
          {{COMP|hash:"RENDER"|xslt:item|safe}}
          {% endfor %}
        </div>
      </div>
{% if HAS_AUTHORITY %}
      <div class='tail'>
        <h3><a href="/glue/data/{{SERVICE.entity.name}}/item/">modify</a></h3>
      </div>
{% endif %}
{% if ROOT %}
    </div>
{% endif %}
