{% load hash_filters %}
{% load comp_filters %}
<style type="text/css">
   table.yard-layout td{
      width:40px;
      height:40px;
      border:1px solid steelblue;
   }
</style>
{% if ROOT %}
    <div class='section-container wide'>
{% endif %}
      <div class='section' id="weather-and-react">
        <div class='title'>
           <h3>Yard Layout</h3>
        </div>
        <div class='info-block'>
         <table class='yard-layout'>
          <tr>
           <td>
             cell1
           </td>
           <td>
             cell2
           </td>
           <td>
             cell3
           </td>
           <td>
             cell4
           </td>
          </tr>

          <tr>
           <td>
             cell1
           </td>
           <td>
             cell2
           </td>
           <td>
             cell3
           </td>
           <td>
             cell4
           </td>
          </tr>

          <tr>
           <td>
             cell1
           </td>
           <td>
             cell2
           </td>
           <td>
             cell3
           </td>
           <td>
             cell4
           </td>
          </tr>

          <tr>
           <td>
             cell1
           </td>
           <td>
             cell2
           </td>
           <td>
             cell3
           </td>
           <td>
             cell4
           </td>
          </tr>

         </table>
        </div>
      </div>
{% if ROOT %}
    </div>
{% endif %}
