<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/pybb/base.css" type="text/css" media="all" charset="utf-8"/>
    <link rel="stylesheet" href="/css/default/nav.css" type="text/css" media="all" charset="utf-8"/>
    <link rel="stylesheet" href="/css/contrib/960.css" type="text/css" media="all" charset="utf-8"/>
    <title>{% block title %}forum{% endblock %}</title>
</head>
<body>
<div class='nav'>
  <ul>
  <li class='menu'><a href='/zoyoe/'>Zoyoe</a></li>
  <li class='menu'><a href='/search/'>Service Cards</a></li>
  <li class='menu'><a href='/map/'>Distribution</a></li>
  <li class='menu'><a href='/forum/'>Forum</a></li>
  <li class='menu'><a href='/gallery/main'>Gallery</a></li>
  {% if user.is_authenticated %}
  <li class='menu' onclick ="zoyoe.admin.Logout()"><a>Logout</a></li>
  {% else %}
    <li class='menu' onclick ="zoyoe.admin.ShowLoginDialog()"><a>Login</a></li>
    <li class='menu' onclick ="zoyoe.admin.ShowRegisterDialog()"><a>Register</a></li>
  {% endif %}
  </ul>
</div>
<div id="crumbs" class='nav-sup'>
        {% block pybb_crumbs %}{% endblock %}
</div>
<div class = 'page'>
  <div id="left-section" class='left-section'>
   {% block sidebar %}{% endblock %}
  </div>
  <div id="mid-section" class='mid-section'>
    <div id="content">
        {% block pybb_content %}{% endblock %}
    </div>
  </div>
  <div style="clear:both">
</body>
</html>
