select{
font-size:12px;
border:1px solid #959595;
}
.input-fine {display:none;}

.input-error {color:black;display:inline;}

#dialog .dialog-content {
font-family:arial, helvetica, sans-serif;
}

#dialog #icon-view{
float:left;
width:125px;height:125px;
border:1px solid #EAEAEA;
overflow:hidden;
}

#dialog #icon-view{margin:15px 0 20px 20px;float:left;}
#dialog #icon-view img{width:125px;height:125px;border:0px;padding:0px;margin:0px;}

#dialog ul.gallery-list{
  clear:both;
}
#dialog ul.gallery-list li{
  margin:0px;
  width:338px;
  border:1px solid #DADADA;
  padding:3px;
  margin-top:2px;
  background-color:white;
  color:#545454;
}
#dialog ul.gallery-list li.current{
  background-color:#4D90FE;
  border:1px solid #3079ED;
  color:white;
}

#dialog div.right-content > div{
width:100px;
height:100px;
border:1px solid #EAEAEA;
margin:5px;
}
#dialog div.right-content > div > img{
height:100px;
width:100px;
}

#dialog div.right-content > div.current{
  border: 1px solid steelblue;
}


#dialog .dialog-content textarea{
  border:1px solid #DADADA;
  margin:5px 0 0 0;
  width:340px;
  font-size:15px;
  height:100px;
}

#dialog #misc > p{
  float:left;
  padding:0px;
  margin:0px;
}

#dialog #misc > p > input{
  border:1px solid #DADADA;
  margin:0px 5px 10px 5px;
  width:180px;
  font-size:15px;
  padding:3px;
}


#dialog #misc > input{
  border:1px solid #DADADA;
  margin:5px 5px 10px 5px;
  width:180px;
  font-size:15px;
  padding:3px;
}

#dialog .dialog-content form > p > input{
  border:1px solid #DADADA;
  margin-top:5px;
  width:338px;
  display:block;
  font-size:15px;
  padding:3px;
  clear:both;
}
#dialog span.commit{
  float:right;
  display:block;
  padding:5px 10px 5px 10px;
  font-size:14px;
  color:white;
  margin:5px 0px 5px 5px;
  border:1px solid #3079ED;
  background-color:#4D90FE;
  cursor:pointer;
}
#dialog span.cancel{
  float:left;
  display:block;
  padding:5px 10px 5px 10px;
  font-size:14px;
  color:white;
  margin:5px 5px 5px 0px;
  border:1px solid gray;
  background-color:#777;
  cursor:pointer;
}


#dialog .dialog-content p {margin:15px 20px 0px 20px;}
#dialog .dialog-content div.lane {margin:15px 20px 0px 20px;}
#dialog .dialog-content label {font-size:12px;font-weight:bold;display:block;float:left;height:18px;}
#dialog .dialog-content input.split {
  width:150px;
  font-size:15px;
  margin-top:5px;
  border:1px solid #DADADA;
}


#form-mdytimetable {padding:20px 0 0 0;margin:0px;}
#form-mdytimetable {font-size:12px;}
#form-mdytimetable > div{padding:0px;margin:0 0 0 20px;display:block;}
#form-mdytimetable #from{float:left;margin-left:20px;}
#form-mdytimetable #from select{display:block;width:155px;font-size:15px;margin-top:5px;}
#form-mdytimetable #to{float:right;margin-right:30px;margin-bottom:10px;}
#form-mdytimetable #to select{display:block;width:155px;font-size:15px;margin-top:5px;}

#form-mdy-default-gallery {padding:0px;margin:0px;}
#form-mdy-default-gallery > div{padding:0px;margin:0 20px 0 20px;display:block;}
#form-mdy-default-gallery {font-size:12px;}


#form-addroster {padding:0px;margin:0px;}
#form-addroster {font-size:12px;}
#form-addroster > div{padding:0px;margin:0 0 0 20px;display:block;}
#form-addroster #name{float:left;margin-left:20px;}

.input-fine {display:none;}
#form-mdy-icon {padding:0px;margin:0px;}
#form-mdy-icon {font-size:12px;}
#form-mdy-icon > div{padding:0px;margin:0 0 0 0;display:block;}
#form-mdy-icon div.right{float:right;margin-top:20px;width:210px;border-left:1px solid gray;}
#form-mdy-icon div.left{float:left;width:120px;margin-top:15px;padding:15px 5px 5px 25px;}
#form-mdy-icon div.right > div{margin: 0 0 5px 25px;}
#form-mdy-icon #description {clear:both;margin:20px 10px 5px 20px;}


#form-addservice {padding:0px;margin:0px;}
#form-addservice {font-size:12px;}
#form-addservice #privilege{display:none;}
#form-addservice #name{clear:both;}
#form-addservice #error {float:left;margin-right:0px;width:120px;margin-top:10px}
#form-addservice #grade{display:none;}
#form-addservice #local{display:none;}
#form-addservice #icon{display:none;}
#form-addservice #description {clear:both;}

#form-mdyservice {padding:0px;margin:0px;}
#form-mdyservice {font-size:12px;}
#form-mdyservice > div{padding:0px;margin:10px 0 0 20px;display:block;}
#form-mdyservice #description{clear:both;}
#form-mdyservice #phone{clear:both;}
#form-mdyservice #type{float:left;width:160px;margin-left:20px;}
#form-mdyservice #type > input{
  width:100%;
  padding:3px;
  border:1px solid #DADADA;
  font-size:15px;
}
#form-mdyservice #price{float:left;width:160px;}
#form-mdyservice #price > div{clear:both;}

#form-mdyservice #price{float:left;height:45px;}

#form-login,#form-change-pwd,
#form-register {padding:0px;margin:0px;}
#form-login,#form-change-pwd,
#form-register {font-size:12px;}
#form-login p input,
#form-change-pwd p input,
#form-register p input{margin-top:5px;width:340px;display:block;font-size:15px;}

#dialog #misc {float:right;padding:10px 16px 0 0;width:200px;}
#dialog #misc label{width:100px;padding:5px;clear:both;}


