body,div,iframe,ul{
margin: 0px;
padding: 0px;
border: 0px;
}

body{
position:absolute;
top:0px;bottom:0px;left:0px;right:0px;
font-family:arial, helvetica, sans-serif;
}
h1,h2,h3,h4,h5{
font-weight:normal;
}

#page{
}

.tmp{
 display:none;
}
.general-title{
height:30px;
background-color:steelblue;
}
.shadow{
  -moz-box-shadow: 2px 2px 3px #969696;
  -webkit-box-shadow: 2px 2px 3px #969696;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
}
.bright{
  color:white;
}
.dark{
  color:black;
}
input.textfield{
  margin:0px;
  padding:3px;
  font-size:15px;
  border:1px solid #DADADA;
}
ul{
  list-style-type:none;
}
a,a:hover,a:visited,a:link,a:active{
  border:none;
  text-decoration:none;
  color:inherit;
}
a img{
  border:none;
}

#zsk.msk{
  z-index:102;
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background-color:white;
  top:0px;
  left:0px;
  opacity:0.1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter:alpha(Opacity=10);
}

#zsk.msk_nop{
  z-index:102;
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background-color:white;
  top:0px;
  left:0px;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(Opacity=0);
}
.button{
  cursor:pointer;
}
.btnblue{
 display: block;
 padding: 5px 10px 5px 10px;
 font-size: 14px;
 color: white;
 margin: 5px;
 border: 1px solid #3079ED;
 background-color: #4D90FE;
 cursor: pointer;
}

.spangray{
 display: block;
 padding: 4px 10px 3px 10px;
 font-size: 14px;
 color:white;
 border:1px solid gray;
 background-color:#777;
 cursor:pointer;
}

.spanblue{
 display: block;
 padding: 4px 10px 3px 10px;
 font-size: 14px;
 color: white;
 border: 1px solid #3079ED;
 background-color: #4D90FE;
 cursor: pointer;
}

.btngray{
  display:block;
  padding:5px 10px 5px 10px;
  font-size:14px;
  color:white;
  margin:5px;
  border:1px solid gray;
  background-color:#777;
  cursor:pointer;
}


.on-msk{
  z-index:103;
}

div.loading{
width:100%;
height:80px;
background: white url("/res/loading.gif") no-repeat center center;
}

#float-info{
  font-family:arial;
  width:500px;
  font-size:12px;
  display:none;
  position:relative;
  border-bottom:1px solid steelblue;
}

#float-info div.smap{
  position:absolute;
  float:right;
  top:47px;
  bottom:0px;
  right:0px;
  width:249px;
  border-right:1px solid steelblue;
  border-top:1px solid white;
  background-color:white;
}
#float-info div.nest{
  height:30px;
  border:none;
  font-size:12px;
  background-color:whiteSmoke;
  padding:15px 2px 0 0px;
  border-left:1px solid steelblue; 
  border-right:1px solid steelblue; 
  border-top:1px solid steelblue; 
  border-bottom:1px solid gray;
  color:#1b1b1b;
}
#float-info div.nest a{
  float:left;
  display:block;
  margin-left:40px;
}
#float-info div.nest div.switch-on{
  height:5px;
  width:5px;
  float:left;
  border:1px solid white;
  background-color:white;
  cursor:pointer;
}
#float-info div.nest div.switch-off{
  height:5px;
  width:5px;
  float:left;
  background-color:white;
  margin:3px 0px 0px 5px;
  border:1px solid #999999;
  cursor:pointer;
}
#float-info div.nest span{
  font-size:20px;
  padding:0px;
  text-align:center;
  position:absolute;
  display:block; 
  top:3px;
  left:7px;
  padding:5px 0 0 0;
  width:30px;
  height:30px;
  font-weight:800;
  background:url("/res/pushpin/pushpin_inactive.png") no-repeat center center;
}
#float-info div a.img{
  padding:0px;
  margin:0px;
  color:#2b2b2b;
  width:100px;
  height:100px;
}

#float-info div.img img{
  width:100px;
  height:100px;
}

#float-info div.img{
  margin:6px 5px 6px 10px;
  float:left;
  height:102px;
}
#float-info div.img1{
  cursor:pointer;
  width:100px;
  height:100px;
}

#float-info div.img1 img{
width:100px;
height:100px;
}

#float-info div.center{
position:absolute;
width:25px;
height:25px;
top:9px;
left:470px;
}
#float-info div.center img{
width:25px;
height:25px;
cursor:pointer;
}
#float-info .section{
  clear:both;
  border-left:1px solid steelblue;
  border-right:1px solid gray;
  border-top:1px solid white;
  background-color: #EFEFEF;
  padding:0 0 0px 0;
  display:relative;
  width:248px;
}
#float-info .section h3.split{
  margin:0px;
  font-size:12px;
  padding:3px 0 3px 6px;
  background-color:steelblue;
  margin-left:2px;
  margin-right:2px;
  font-weight:100;
  color:white;
}

#float-info .section div.info-block {
  color:black;
  max-height:120px;
  padding:8px 5px 5px 10px;
}

#float-info .section .description {
  color:#black;
  margin:10px 20px 0px 10px;
  min-height:100px;
  overflow:hidden;
}

#float-info .section div.info-block div{
  margin:2px 0 5px 0;
}
#float-info ul{
  list-style-type:none;
}
#float-info .section div.info-block ul li{
  padding:0px 0px 4px 0px;
}

#float-info .section div.info-block ul li a{
  text-align:left;
  display:block;
  margin:2px 10px 0px 110px;
  padding:0px 5px 3px 0px;
}

#panel{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  display:none;
}
#panel div.panel{
  border:0px;padding:0px;
  position:absolute;
  top:40px;left:20px;
  right:20px;
  bottom:20px;
  background-color:ghostwhite;
  border-top:1px solid steelblue;
  border-right:1px solid steelblue;
  border-left:1px solid steelblue;
  border-bottom:5px solid steelblue;
  overflow:hidden;
  color:white;
}

#panel table.shortcut{
  color:black;
  border-collapse:collapse;
  width:100%;
}

#panel table.shortcut td.btn div.pick{
  margin:5px;
  width:5px;
  height:5px;
  border:1px solid #AAAAAA;
}
#panel table.shortcut td.btn{
  width:30px;
}
#panel table.shortcut tr.title td{
  color:steelblue; 
  border-bottom:1px solid black;
  height:30px;
}

#panel table.shortcut tr.datalane td,
#panel table.shortcut tr.select td{
  color:#3b3b3b; 
  border-bottom:1px solid #AAAAAA;
  height:25px;
}
#panel table.shortcut tr.select td{
  background-color:ghostwhite;
}

#panel div.panel-content div.datalane{
 text-align:center;
 border-top:1px solid white;
 border-bottom:1px solid black;
 padding:4px;
 color:steelblue;
}
#panel div.panel-content div.img-whole{
  width:100%;
  height:100%;
}
#panel div.panel-content div.select{
 text-align:center;
 border-top:1px solid white;
 border-bottom:1px solid black;
 background-color:ghostwhite;
 padding:4px;
 color:steelblue;
}
#panel div.button-lane{
 position:absolute;
 height:30px;
 left:5px;
 right:10px;
 background-color:whiteSmoke;
 bottom:0px;
}
#panel div.panel-content{
position:absolute;
left:300px;
top:35px;
right:10px;
bottom:30px;
background-color:#EEEEEE;
border:1px solid #AAAAAA;
overflow:hidden;
text-align:center;
}
#panel div.panel-content h1{
padding:5px;
font-size:20px;
margin:20px 10px 20px 10px;
font-weight:400;
}
#panel div.panel-content p{
padding:5px;
color:white;
margin:0px 0px 0px 10px;
}
#panel div.panel-hint{
}
#panel div.panel-hint h2{
  font-size:16px;
  float:left;
  margin:6px 5px 5px 10px;
}
#panel div.panel-left{
position:absolute;
left:5px;
width:290px;
top:35px;
bottom:30px;
background-color:#EEEEEE;
border:1px solid #AAAAAA;
overflow-y:scroll;
}
#panel div.panel-left a.gicon{
  height:75px;
  padding:10px;
  border-top:1px solid ghostWhite;
  border-bottom:1px solid #9b9b9b;
  display:block;
  overflow:hidden;
  background-color:#EAEAEA;
}
#panel div.panel-left a.gicon span{
  float:right;
  display:block;
  clear:right;
  font-size:13px;
  margin:4px;
  color:#1b1b1b;
  text-align:right;
  max-width:170px;
}
#panel div.panel-left a.gicon li{
  display:block;
  float:right; 
  padding:2px 4px 2px 4px;
  background-color:#4D90FE;
  border:1px solid #3079ED;
  color:white;
  margin:5px 0px 0px 3px;
}

#panel div.panel-left a.gicon-tools{
  cursor:pointer;
  height:26px;
  border-top:1px solid ghostWhite;
  border-bottom:1px solid #aaaaaa;
  display:block;
  overflow:hidden;
  background-color:whiteSmoke;
  color:steelblue;
}
#panel div.panel-left a.gicon-tools:hover {
  color:white;
  background-color:#1e4f76;
  border-top:1px solid steelblue;
}
#panel div.panel-left a.gicon-tools span{
  display:block;
  padding:3px 5px 5px 5px;
  float:left;
  font-size:15px;
}
#panel div.panel-left a.gicon-tools  img{
  float:left;
  margin:0px 0px 0px 10px;
  height:25px;
  width:25px;
}

#panel div.panel-content iframe{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
  border:0px solid white;
  overflow:hidden;
}
#panel div.panel-content .img-whole > img{
  position:relative;
  top:-100000000px;
}
#panel div.panel-left a.gicon > img{
  height:65px;
  width:65px;
  float:left;
  cursor:pointer;
}
#panel div.panel-left a.gbutton{
  height:80px;width:80px;
  margin:10px;
  float:right;
}
#panel div.button-lane input{
  margin:5px 0 5px 0;
  padding:0 10px 2px 10px;
  border:none;
  border-right:1px solid #999999;
  border-left:1px solid white;
  background-color:transparent;
  cursor:pointer;
  color:#111111;
  font-weight:bold;
}
#panel div.button-lane input:hover {
  color:#1e4f76;
  font-weight:bold;
}

#panel div.panel-hint h2{
}
#panel div.panel-hint a.gbutton{
  display:block;
  cursor:pointer;
  float:right;
  margin:4px 10px 0 0;
  color:white;
  font-size:18px;
}
#panel div.panel-hint a.gbutton:hover {
}

#dialog{
  position:fixed;
  left:0px;bottom:0px;top:0px;right:0px;
  display:none;
}
#dialog div.dialog-right{
 right:0px;
 left:415px;
 top:60px;
 bottom:10px;
 position:absolute;
 overflow:hidden;
}
#dialog iframe.wiki-frame{
  width:100%;
  height:100%;
}
#dialog div.dialog{
  border:0px;
  position:absolute;
  top:20px;
  bottom:20px;
  left:20px;
  right:20px;
  background-color:white;
  border:1px solid #EAEAEA;
}
#dialog div.dialog-left{
right:leftpx;
top:60px;
bottom:10px;
position:absolute;
width:410px;
overflow:hidden;
}
#dialog div.dialog-content{
width:388px;
padding:10px 0 10px 0;
border:1px solid #EAEAEA;
background-color:whiteSmoke;
margin:auto;
}
#dialog div.dialog-content div.msg{
  margin:10px;
}
#dialog div.dialog-content iframe{
  width:100%;
  height:220px;
  padding:0px;
  margin:0px;
  border:0px solid white;
  overflow:hidden;
}
#dialog div.dialog-hint{
height:50px;
background: whiteSmoke url("/res/icons/window.png") no-repeat 10px; center;
border-bottom:1px solid #E5E5E5;
}

#dialog div.button-lane{
height:35px;
margin-top:10px;
margin-right:10px;
}

#dialog div.button-lane input{
float:right;display:block;
margin:5px;font-size:15px;
font-family:"Times New Roman", Times, Sans-serif;
text-transform:uppercase;
border:1px solid gray;
width:100px;
background-color:white;
color:#555555;
}

#dialog div.dialog-hint h2{
  color:#999;
  padding:6px 20px 3px 44px;
  margin:4px 6px 6px 6px;
  border-right:1px solid #EAEAEA;
  float:left;
  font-size:22px;
}
#dialog div.dialog-hint a{
  text-align:right;
  float:right;
  font-size:12px;
  width:200px;
  height:30px;
  padding:10px 0px 10px 10px;
  color:steelblue;
}

#dialog div.dialog-hint a img{
  float:right;
  position:relative;
  top:-8px;
  width:50px;
  height:50px;
}

#dialog div.dialog-hint a form{
  width:10px;
  display:inline;
}

form.xsd-form{
  padding:10px;
  margin:0px;
  font-size:14px;
  color:black;
}

form.xsd-form div{margin:10px 10px 0px 10px;}
form.xsd-form div.attribute-cell input{
  border:1px solid #959595;
  margin-top:5px;width:240px;display:block;font-size:15px;}
form.xsd-form label{display:block;}
form.xsd-form label:first-letter {text-transform:uppercase;}
form.xsd-form textarea{font-size:15px;border:1px solid #959595;width:240px;height:100px;margin-top:5px;}

div.foot{
clear:both;
}
#data{
  display:none;
}

