ul.config-menu{
  padding:0px;
  top:-3px;
  width:20px;
  float:left;
}
ul.config-menu img{
  height:20px;
  width:20px;
}
ul.config-menu:hover #config-bar{
  display:block;
}
#config-bar {
  display:none;
  margin:7px 0 0 0;
  width:260px;
  padding:5px 15px 15px 15px;
  left:-20px;
  background:steelblue;
  color:white;
  overflow:show;
  font-size:11px;
  font-weight:normal;
  float:left;
  border-top:1px solid gray;
  border-left:2px solid gray;
  border-right:2px solid gray;
  border-bottom:3px solid gray;
}
#config-bar:hover {}
#config-bar .window-container {
  margin-top:3px;
}
#config-bar .window-container div.vbar {
  height:20px;
  padding-top:4px;
}
#config-bar .window-container div.hbar {
  width:60px;
  height:25px;
  padding-top:5px;
  float:right;
  border-left:1px solid white;
}
#config-bar .window-container div.vbar a {
  display:block;
  width:85px;
  margin-right:5px;
  float:right;
  cursor:pointer;
}
#config-bar .window-container div.vbar2 a {
  display:block;
  width:45px;
  margin:3px 5px 0 0;
  float:left;
  cursor:pointer;
}
#config-bar .window-container div.vbar3 a {
  display:block;
  width:75px;
  margin:3px 5px 0 0;
  float:left;
  cursor:pointer;
}

#config-bar .window-container div.vbar a span {
  display:block;
  width:7px;
  height:7px;
  margin:2px 4px 2px 2px;
  float:left;
  border:1px solid gray;
}
#config-bar .window-container div.vbar2 a span {
  display:block;
  width:7px;
  height:7px;
  margin:2px 4px 2px 2px;
  float:left;
  border:1px solid gray;
}
#config-bar .window-container div.vbar3 a span {
  display:block;
  width:7px;
  height:7px;
  margin:2px 4px 2px 2px;
  float:left;
  border:1px solid gray;
}
#config-bar .window-container div.vbar a.selected span {background-color:white;}
#config-bar .window-container div.vbar2 a.selected span {background-color:white;}
#config-bar .window-container div.vscroll {
  display:relative;
  width:120px;
  height:5px;
  margin-top:5px;
  padding:1px;
  float:right;
  top:-2px;
  background-color:black;
  border:1px solid #343434;
}
#config-bar .window-container div.drag {
  width:9px;
  height:100%;
  height:12px;
  float:left;
  position:relative;
  top:-3px;
  background:#2c2c2c url('/res/css/scroll.png') no-repeat;
  cursor:pointer;
}
#config-bar .window-container div.blank {
  width:0px;
  height:100%;
  float:left;
  position:relative;
}
#config-bar .window-container div.fill {
  width:18px;
  height:5px;
  float:left;
  position:relative;
  top:-1px;
  background-color:#989898;
  border-top:1px solid #2b2b2b;
  border-bottom:1px solid #2b2b2b;
}
.vbar ul {
  display:block;
  margin:3px 0 0px 0px;
  clear:both; 
  list-style-type:none; 
  color:white;
  font-size:13px;
  text-transform:uppercase; 
}
.vbar ul li {
  display:inline;
  padding:0px 3px 0px 3px;
  float:left;
  border-bottom:1px solid gray;
  cursor:pointer;
}
.vbar ul li.selected {background-color:black;}
.vbar ul li:hover {background-color:black;}
#report-bar {
  z-index:22;
  display:block;
  width:260px;
  top:80px;
  padding:5px 5px 15px 15px;
  overflow:show;
  font-size:12px;
  font-weight:normal;
  color:steelblue;
  background-color:ghostwhite;
  position:fixed;
  border-top:3px solid steelblue;
  border-left:2px solid steelblue;
  border-right:2px solid steelblue;
  border-bottom:3px solid steelblue;
}
#report-bar .head{
  padding:5px;
  margin-right:10px;
  border-bottom: 1px solid gray;
}
#report-bar label{
  font-size: 14px;
  padding:3px;
  display:block;
  font-weight: bold;
}

#report-bar input.normal,
#report-bar .extension-auto-complete input{
  border: 1px solid gray;
  clear:both;
  height:20px;
  width:236px;
}
#report-bar .window-container{
  clear:both;
  padding:5px;
}
#report-bar input.report-btn {
 display:block;
 padding:3px 10px 3px 10px;
 float:right;
 font-size:16px;
 text-transform:uppercase;
 background-color: steelblue;
 margin:5px 10px 0 0px;
 cursor:pointer;
 color:#eeeeee;
 border:2px solid #999999;
}
#report-bar .head h5{
  padding:0px;
  margin:0px;
  font-size:17px;
}
div.div-scroll {
  height:100%;
  clear:both;
  overflow:show;
}
#right-bar-dock div.div-scroll div.cursor {
  display:relative;
  width:13px;
  height:28px;
  margin:2px 0 2px 0;
  left:-3px; 
  background-color:white;
  border:1px solid #343434;
  cursor:move;
}
#right-bar-dock div.div-scroll div.hscroll {
  width:10px;
  clear:both;
  position:absolute;
  top:0px;
  bottom:0px;
  left:-10px;
  background-color:steelblue;
}


#config-bar .window-container div.suburb {
  display:relative;
  height:60px;
}
#config-bar .window-container div.suburb label {
  display:block;
  height:20px;
  padding:5px;
  float:left;
}
#config-bar .window-container div.suburb a {
  display:block;
  height:18px;
  margin:1px 10px 0 4px;
  padding:2px 4px 2px 4px;
  float:right;
  border:1px solid #343434;
  font-weight:bold;
  cursor:pointer;
}
#config-bar .window-container div.suburb a:hover {
  background-color:#343434;
  border:1px dashed #343434;
}
#config-bar .window-container div.extension-auto-complete input {
  width:240px;
  height:20px;
  margin:0px;
  padding:0px;
  border:1px solid gray;
}
#config-bar .dummy {
  display:none;
  width:80px;
  height:80px;
}
#config-bar .window-title {
  width:260px;
  height:20px;
  margin:auto;
  font-size:12px;
  cursor:move;
}
#config-bar .window-title a {
  float:right;
  position:relative;
  top:-5px;
  font-size:20px;
  cursor:pointer;
}

