.brand{ 
  height:310px;
  padding:30px 0 0 0; 
}

.brand img{
  display:block;
  margin:auto;
}

div.personalize{
  width:452px;
  padding-top:100px;
  margin:auto;
}

.quicksearch{
 background: transparent url("/res/bg/quicksearch.png") center 7px no-repeat;
}

.recommandation{
 background: transparent url("/res/bg/recommendation.png") center 7px no-repeat;
}

.distribution{
 background: transparent url("/res/bg/distribution.png") center 7px no-repeat;
}

.collection{
 background: transparent url("/res/bg/collection.png") center 7px no-repeat;
}

.support{
 background: transparent url("/res/bg/support.png") center 7px no-repeat;
}


#service-type ul,
#service-local ul {
  display:block;
  margin:15px 0px 30px 0px; 
  width:550px;
}

#service-type ul li,
#service-local ul li{
  font-family:arial;
  padding: 4px 10px 4px 10px;
  margin:0px 15px 5px 0px;
  color:black;
  display:block;
  float:left;
  width:100px;
  border:1px solid #DADADA;
}

#service-type ul li.current,
#service-local ul li.current{
  background-color:steelblue; 
  color:white;
}

#service-type ul li span,
#service-local ul li span{
  float:right;
  display:block;
  border:1px solid #999999;
  font-size:10px;
  height:10px;
  color:black;
  padding:3px;
  background-color:#EAEAEA;
}



#filter-bar {
  margin-left:20px;
}


.label {
  font-size:12px;
  font-family:Arial;
  font-weight:bold;
  color:#666666;
  margin-bottom:10px;
  width:100%;
}

.drop-list{
  color:#666666;
  padding:0 10px 0 0;
  font-size:14px;
}

#match-option{
float:left;
clear:both;
color:#666666;
font-family:arial,sans-serif;
}

#match-option label{
  margin-right:10px;
}
#match-option a{
  padding:4px 15px 4px 15px;
}

.option a{
  cursor:pointer;
}

.option a.select{
  background-color:steelblue;
  color:white;
}

.option a:hover {
  background-color:steelblue;
  color:white;
}

#share-option{
font-size:12px;
display:block;
float:left;
margin:0px 0px 0px 160px;
color:#666666;
padding: 20px 0 35px 0;
}

#share-option label{
  margin-right:10px;
}
#share-option a{
  border:1px solid #777777;
  padding:4px 15px 4px 15px;
}



#service-type {
  clear:both;
  width:150px;
  float:left;
}


#nationality {
  width:150px;
  float:left;
}

#radius {
  clear:both;
  width:100px;
  float:left;
}

#price-range {
  width:170px;
  float:left;
}

#max-price {
  width:85px;
  float:left;
}

#min-price {
  width:85px;
  float:left;
}

#max {
  margin-right:10px;
  width:80px;
  float:left;
}

#min {
  width:80px;
  float:left;
}
div.hint{
  color:white;
  font-size:12px;
  position:relative;
  float:left;
  top:-20px;
  padding:5px;
}
div.invalid-hint{
  color:orange;
  float:left;
  margin:0px 20px 0px 20px;
}

#page {
  width:100%;
  margin:auto;
}


#sup-lane{
height:80px;
overflow:hidden !important;
padding:5px 20px 5px 20px;
}

div.dense{
}
div.mid-section{
  padding:0px 10px 0px 15px;
}
#slist{
  list-style-type:none;
  padding:20px 0 0 0;
}
#slist li{
  clear:both;
  height:110px;
  margin-bottom:20px;
}
#slist div.content{
  float:left;
}
#slist div.content p{
  width:760px;
  margin:10px;
}
#slist h3{
  list-style-type:none;
  padding:0px;
  font-weight:normal;
  font-size:14px;
  width: 860px;
  border-bottom: 1px dashed steelblue;
}
#slist h3 a{
  font-weight:bold;
  font-size:16px;
  color:steelblue;
  text-decoration:none;
}
#slist img{
  width:70px;
  height:70px;
  margin:10px;
  background-color:ghostwhite;
  border-top:8px solid steelblue;
  border-left:1px solid steelblue;
  border-right:1px solid steelblue;
  border-bottom:8px solid steelblue;
}
#search-result{
  position:fixed;
  bottom:0px;
  right:0px;
  width:400px;
  height:40px;
  border:1px solid white;
  background-color:whiteSmoke;
  padding:10px;
  color:#8b8b8b;
  opacity:0.5;
}
#search-result:hover {
  opacity:1;
}
#search-result span.snum,
#search-result span.inum{
  color:orange;
  font-size:18px;
  font-weight:bold;
}
#search-result span.btn{
  background-color:steelblue;
  border:1px solid white;
  color:white;
  padding:5px;
  float:right;
  cursor:pointer;
}
#research-hint {
  width:600px;
  margin:auto;
  background-color:steelblue;
  color:white;
  padding:10px 20px 10px 20px;
  border:1px solid whiteSmoke;
}
