body, div, iframe,h3 {
  margin:0px;
  padding:0px;
  border:0px;
  position:relative;
  font-family:arial,sans-serif;
}

body{
  width:100%;
}

#page {
  width:100%;
  margin:auto;
  background:white;
  min-height:800px;
}

#page div.mid {
  width:960px;
  margin:auto;
  background:white;
  min-height:800px;
}
#page #map-bot{
  width:320px;
  float:right;
}
#page #map-bot div{
  margin-right:20px;
  width:35px;
  float:left;
  height:35px;
}
#page #map-bot div img{
  width:100%;
  height:100%;
}
#page div.map-title{
  width:662px;
  margin:20px 0 0 0px;
  border-top:2px solid steelblue;
  border-left:1px solid steelblue;
  border-bottom:1px solid steelblue;
  border-right:1px solid steelblue;
  padding:5px;
  color:white;
  background-color:steelblue;
}
#page div.map-title img{
position:relative;
top:-20px;
float:left;
}
#page #map-info{
  margin: 0px 0 40px 0px;
  border-left:1px solid steelblue;
  border-right:1px solid steelblue;
  border-bottom:30px solid steelblue;
}

div.mid-section div.title{
margin:0;
padding:0;
padding-right:10px;
color:steelblue;
font-size:16px;
}
div.mid-section div.title h3{
padding:4px;
margin:0px;
clear:none;
display:inline;
}
div.mid-section div.title h4{
padding:4px;
margin:0px;
font-weight:normal;
float:right;
}

.brand{ 
  height:100px;
  padding:5px 0 0 0;
}

.brand img{
  float:left;
  display:block;
  margin:auto;
  height:90px;
}

.foot {
  clear:both;
  padding:20px 0 0 0;
}

.foot .lane-black {
  height:10px;
  background-color:#1d1d1f;
}

.foot .lane-white {
  height:10px;
  background:white;
}

#report-bar {
  display:block;
  width:260px;
  height:300px;
  position:relative;
  float:right;
  margin:20px 0 0 0px;
  padding:5px 5px 15px 15px;
  font-size:12px;
  font-weight:normal;
  color:steelblue;
  background-color:ghostwhite;
  border-top:22px solid steelblue;
  border-left:1px solid steelblue;
  border-right:5px solid steelblue;
  border-bottom:20px solid steelblue;
}
#report-bar .head{
  padding:5px;
  margin-right:10px;
  border-bottom: 1px solid gray;
}
#report-bar label{
  font-size: 14px;
  padding:3px;
  display:block;
  font-weight: bold;
}

#report-bar input.normal,
#report-bar .extension-auto-complete input{
  border: 1px solid gray;
  clear:both;
  height:20px;
  width:236px;
}
#report-bar .window-container{
  clear:both;
  padding:5px;
}
#report-bar input.report-btn {
 display:block;
 padding:3px 10px 3px 10px;
 float:right;
 font-size:16px;
 text-transform:uppercase;
 background-color: steelblue;
 margin:5px 10px 0 0px;
 cursor:pointer;
 color:#eeeeee;
 border:2px solid #999999;
}
#report-bar .head h5{
  padding:0px;
  margin:0px;
  font-size:17px;
}

#slist{
  list-style-type:none;
  padding:20px 0 0 0;
}
#slist li{
  clear:both;
  height:110px;
  margin-bottom:20px;
}
#slist div.content{
  float:left;
}
#slist div.content p{
  width:760px;
  margin:10px;
}
#slist h3{
  list-style-type:none;
  padding:0px;
  font-weight:normal;
  font-size:14px;
  width: 860px;
  border-bottom: 1px dashed steelblue;
}
#slist h3 a{
  font-weight:bold;
  font-size:16px;
  color:steelblue;
  text-decoration:none;
}
#slist img{
  width:70px;
  height:70px;
  margin:10px;
  background-color:ghostwhite;
  border-top:8px solid steelblue;
  border-left:1px solid steelblue;
  border-right:1px solid steelblue;
  border-bottom:8px solid steelblue;
}
