{% load hash_filters %}
{% load comp_filters %}
  {% for v in LAYOUT_INFO|hash:'MID' %}
    {% if v = 'icon' %}
      {% include "comp/_icon.html" %}
    {% endif %}
    {% if v = 'girls' %}
      {% include "comp/_girls.html" %}
    {% endif %}
    {% if v = 'info' %}
      {% include "comp/_info.html" %}
    {% endif %}
    {% if v = 'timetable' %}
      {% include "comp/_timetable.html" %}
    {% endif %}
    {% if v = 'roster' %}
      {% include "comp/_roster.html" %}
    {% endif %}
    {% if v = 'news' %}
      {% include "comp/_news.html" %}
    {% endif %}
  {% endfor %}
