{% if ROOT %}
    <div class='section-container'>
{% endif %}
      <div class='section' id="girls">
        <div class='title'>
           <h3>Girls</h3>
        </div>
        <div class='info-block'>
        <ul>
          {% for n,v in GIRLS_INFO.iteritems %}
          <li onclick="Select('GIRLS','{{n}}',this)">
            <div class='info'>
              <ul class='border-split'>
                 <li>{{n}}</li>
                 <li>Age: {{v.age}}
                     </br>
                     Nation: {{v.nation}}
                     </br>
                     Size: {{v.size}}
                 </li>
              </ul>
            </div>
            <div class='icon'><img src='/core/data/res/{{SERVICE.name}}/{{v.icon}}/?sc=True'></img></div>
          </li>
          {% endfor %}
        </ul>
        </div>
      </div>
{% if HAS_AUTHORITY %}
      <div class='tail'>
        <h3><a onclick="zoyoe.comps['GIRLS'].ShowAddDialog()">add</a><a onclick="zoyoe.comps['GIRLS'].DelGirlSelect()">del</a></h3>
      </div>
{% endif %}
{% if ROOT %}
    </div>
{% endif %}
