{% load hash_filters %}
{% if ROOT %}
    <div class='section-container'>
{% endif %}
      <div id='roster' class='section'>
        <div class='title'>
          <h3>Roster:  
          </h3>
          <div class='menu'>
          {% if WEEK_DAY = 'Monday' %}
            <a class='tab focus'>Monday</a>
          {% else %}
            <a class='tab' onclick="zoyoe.comps['ROSTER'].Update(1)">Mon</a>
          {% endif %}
          {% if WEEK_DAY = 'Tuesday' %}
            <a class='tab focus'>Tuesday</a>
          {% else %}
            <a class='tab' onclick="zoyoe.comps['ROSTER'].Update(2)">Tue</a>
          {% endif %}
          {% if WEEK_DAY = 'Wednesday' %}
            <a class='tab focus'>Wednesday</a>
          {% else %}
            <a class='tab' onclick="zoyoe.comps['ROSTER'].Update(3)">Wed</a>
          {% endif %}
          {% if WEEK_DAY = 'Thursday' %}
            <a class='tab focus'>Thursday</a>
          {% else %}
            <a class='tab' onclick="zoyoe.comps['ROSTER'].Update(4)">Thu</a>
          {% endif %}
          {% if WEEK_DAY = 'Friday' %}
            <a class='tab focus'>Friday</a>
          {% else %}
            <a class='tab' onclick="zoyoe.comps['ROSTER'].Update(5)">Fri</a>
          {% endif %}
          {% if WEEK_DAY = 'Saturday' %}
            <a class='tab focus'>Saturday</a>
          {% else %}
            <a class='tab' onclick="zoyoe.comps['ROSTER'].Update(6)">Sat</a>
          {% endif %}
          {% if WEEK_DAY = 'Sunday' %}
            <a class='tab focus'>Sunday</a>
          {% else %}
            <a class='tab' onclick="zoyoe.comps['ROSTER'].Update(0)">Sun</a>
          {% endif %}
          </div>
        </div>
        <div class='info-block'>
          <ul>
          {% for n in ROSTER_INFO %}
          <li onclick="zoyoe.comps['ROSTER'].Select('{{n}}',this)">
            {% if GIRLS_INFO|hash:n%}
            <div class='info'>
              <ul class='border-split'>
                 <li>{{n}}</li>
                 <li>Age:{{GIRLS_INFO|hash:n|hash:"age"}}</li>
              </ul>
            </div>
            <div class='icon'>
              <img src='/core/data/res/{{SERVICE.name}}/{{GIRLS_INFO|hash:n|hash:"icon"}}'></img>
            </div>
            {% else %}
             <div class='info'>
              <ul class='border-split'>
                 <li>{{n}}</li>
                 <li>Information about this girl can not be found in the Girls List!!!</li>
              </ul>
            </div>
            <div class='icon'>
              <img src='/res/question_mark_s.png'/>
            </div>
            {% endif %}
          </li>
          {% endfor %}
        </div>
      </div>
{% if HAS_AUTHORITY %}
      <div class='tail'>
        <h3><a>modify</a></h3>
      </div>
{% endif %}
{% if ROOT %}
    </div>
{% endif %}

