{% extends 'core/clean.html' %}
{% load glue_filters %}
{% block title %} zoyoe sydneyscent {% endblock %}

{% block css_link %}
  <link rel="stylesheet" href="/css/contrib/element.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/dialog.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/nav.css" type="text/css" media="all" charset="utf-8"/>
{% endblock %}

{% block js_link %}
  {% zoyoejs 'all' %}
  <script type="text/javascript">
    function document_load(){
      YUI().use('node','anim','io-form',function(Y){
        zoyoe.ArrangeClips('services','data')
        zoyoe.InitZoyoe(false,Y);
        zoyoe.admin = InitAdmin(zoyoe);
      });
    }
  </script>

{% endblock %}

{% block nav %}
  <li class='menu'><a href='/zoyoe/'>Zoyoe</a></li>
  <li class='menu'><a href='/search/'>Service Cards</a></li>
  <li class='menu'><a href='/map/'>Distribution</a></li>
  <li class='menu'><a href='/forum/'>Forum</a></li>
  <li class='menu'><a href='/gallery/main'>Gallery</a></li>
  {% include "core/_usrmenu.html" %}
{% endblock %}

{% block content %}
<div class='nav-sup'>
  Service Cards &raquo;
  <a href="">Personal Collection</a>
</div>
<div style="width:100%;height:100%;padding:20px 10px 10px 10px;background-color:#E8E7E3;" id="page">
  <div id='services'>
  </div>
  <div id='data'>
  {% for collection in COLLECTIONS%}
    <div class='clip'>
    <img src="/gallery/imageicon/{{collection.service.name}}/icon/?"></img>
    <ul>
    <li class='name'><a href="/core/service/{{collection.service.name}}">{{collection.service.name}}</a></li>
    <li class='fade right'>{{service.type}}</li>
    <li class='fade'>{{collection.service.email}}</li>
    <li class='dscp'>{{collection.service.description}}</li>
    <li class='spangray right' onclick="zoyoe.admin.CollectDelete('{{collection.service.name}}')">delete</li>
    <br style="clear:both"/>
    </ul>
    </div>
  {% endfor %}
  </div>
  <div class='foot'>
  </div>
</div>
{% endblock %}

