{% extends 'core/panel.html' %}
{% load hash_filters %}
{% load comp_filters %}
{% block title %} zoyoe sydneyscent {% endblock %}

{% block css_link %}
  <link rel="stylesheet" href="/css/contrib/element.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/dialog.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/nav.css" type="text/css" media="all" charset="utf-8"/>
{% endblock %}

{% block js_link %}
  {% zoyoejs 'all' %}
  <script type="text/javascript">
    function document_load(){
      YUI().use('node','event','io-form',function(Y){
        zoyoe.InitZoyoe(false,Y,{static_panel:true});
        zoyoe.service_name = '{{SERVICE.name}}';
        zoyoe.comps['{{PATH}}'] = InitItems(zoyoe,'{{PATH}}');
        zoyoe.admin = InitAdmin(zoyoe);
        var upinfo = new update_info("/glue/{{SERVICE.name}}/data/{{PATH}}/");
        zoyoe.ui.ShowPanel('data',{path:'{{PATH}}'},upinfo,function(){
       });
      });
    }
  </script>

{% endblock %}

{% block nav %}
  <li class='menu'><a href='/zoyoe/'>Zoyoe</a></li>
  <li class='menu'><a href='/search/'>Service Cards</a></li>
  <li class='menu'><a href='/map/'>Distribution</a></li>
  <li class='menu'><a href='/forum/'>Forum</a></li>
  <li class='menu'><a href='/gallery/main'>Gallery</a></li>
  {% include "core/_usrmenu.html" %}
{% endblock %}

{% block extra %}
<div id = 'panel' style="top:31px;">
  <div class='panel-hint general-title nav-sup dark'"> 
  </div>
  <div class='panel-content' style="top:90px;">
  </div>
  <div class='panel-left' style="top:90px;">
  </div>
  <div class='button-lane'>
  </div>
</div>
{% endblock %}


