{% extends 'core/clean.html'%}
{% block css_link %}
  <link rel="stylesheet" href="/css/contrib/dialog.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/nav.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/general.css" type="text/css" media="all" charset="utf-8"/>
  <style type="text/css">
  #dialog{
    top:30px;
  }
  #dialog .dialog{
    top:10px;
  }
  </style>

{% endblock %}

{% block js_link %}
  <!-- YUI Components --> 
  <script type="text/javascript" charset="utf-8"
          src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js">
  </script>

  <script type="text/javascript" src="/js/zoyoe.js"></script>
  <script type="text/javascript" src="/js/ui.js"></script>
  <script type="text/javascript" src="/js/ele.js"></script>
  <script type="text/javascript" src="/js/comps.js"></script>

  {% block js_code %}{% endblock %}
  </script>
{% endblock %}

{% block nav %}
  <li class='menu'><a href='/zoyoe/'>Zoyoe</a></li>
  <li class='menu'><a href='/search/'>Service Cards</a></li>
  <li class='menu'><a href='/map/'>Distribution</a></li>
  <li class='menu'><a href='/forum/'>Forum</a></li>
  <li class='menu'><a href='/gallery/main'>Gallery</a></li>
{% endblock %}
 
{% block content %}
{% endblock %}
