{% extends 'glue/app.html' %}
{% load hash_filters %}
{% load comp_filters %}
{% block title %} zoyoe sydneyscent {% endblock %}

{% block css_link %}
  <link rel="stylesheet" href="/css/contrib/element.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/dialog.css" type="text/css" media="all" charset="utf-8"/>
  <style type="text/css">
    .clip{
      float:left;
      margin:10px;
      width:80px;
      font-size:10px;
      border:1px solid #EAEAEA;
      padding:10px;
    }
    .clip img{
      width:80px;
    }
    h4{
      padding:0px;
      margin:5px;
      clear:both;
    }
  </style>
{% endblock %}

{% block js_link %}
  {% zoyoejs 'all' %}
  <script type="text/javascript">
    function document_load(){
      zoyoe.admin = InitAdmin(zoyoe);
    }
  </script>
{% endblock %}

{% block bar %}
{% endblock %}

{% block content %}
  <div id="service-board">
  <ul class='tabs'>
    <li class='tab'>
      <h4>My Gardens</h4>
      {% for service in MY_SERVICES%}
        <div class='clip'>
          <img src="/gallery/imageicon/{{service.name}}/icon/?"></img>
        <ul>
        <li class='name'><a href="/core/service/{{service.name}}">{{service.name}}</a></li>
        <li class='dscp'>{{service.description}}</li>
        </ul>
        </div>
      {% endfor %}
    </li>
    <li class='tab'>
      <h4>Gardens You've collected</h4>
      {% for collection in MY_COLLECTIONS%}
        <div class='clip'>
          <img src="/gallery/imageicon/{{collection.service.name}}/icon/?"></img>
        <ul>
        <li class='name'><a href="/core/service/{{collection.service.name}}">{{service.name}}</a></li>
        <li class='dscp'>{{collection.service.description}}</li>
        </ul>
        </div>
      {% endfor %}
    </li>
    <li class='tab'>
      <h4>Gardens you've visited recently</h4>
      {% for service in MY_SERVICES%}
        <div class='clip'>
          <img src="/gallery/imageicon/{{service.name}}/icon/?"></img>
        <ul>
        <li class='name'><a href="/core/service/{{service.name}}">{{service.name}}</a></li>
        <li class='dscp'>{{service.description}}</li>
        </ul>
        </div>
      {% endfor %}
    </li>
  </ul>
  </div>
{% endblock %}

{% block tail %}
{% endblock %}
