{% extends 'core/clean.html' %}
{% load hash_filters %}
{% load comp_filters %}
{% block title %} Sydney Menu {% endblock %}

{% block css_link %}
  <link rel="stylesheet" href="/css/contrib/element.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/default/dialog.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/nav.css" type="text/css" media="all" charset="utf-8"/>
{% endblock %}

{% block js_link %}
  <script type="text/javascript" charset="utf-8"
          src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js">
  </script>
  <script type="text/javascript" src="/js/comps.js"></script>
  <script type="text/javascript" src="/js/zoyoe.js"></script>
  <script type="text/javascript" src="/js/ele.js"></script>
  <script type="text/javascript" src="/js/ui.js"></script>
  <script type="text/javascript">
    function document_load(){
      YUI().use('node','anim','io-form',function(Y){
        zoyoe.ArrangeClips('services','data')
        zoyoe.InitZoyoe(false,Y);
        zoyoe.admin = InitAdmin(zoyoe);
      });
    }
  </script>

{% endblock %}

{% block nav %}
  <li class='menu'><a href='/zoyoe/'>Zoyoe</a></li>
  <li class='menu'><a href='/search/'>Service Cards</a></li>
  <li class='menu'><a href='/map/'>Distribution</a></li>
  <li class='menu'><a href='/forum/'>Forum</a></li>
  <li class='menu'><a href='/gallery/main'>Gallery</a></li>
  {% if user.is_authenticated %}
  <li class='menu' onclick ="zoyoe.admin.Logout()"><a>Logout</a></li>
  {% else %}
    <li class='menu' onclick ="zoyoe.admin.ShowLoginDialog()"><a>Login</a></li>
    <li class='menu' onclick ="zoyoe.admin.ShowRegisterDialog()"><a>Register</a></li>
  {% endif %}
{% endblock %}

{% block content %}
<div class='nav-sup' style="background: whiteSmoke url('/res/bg/recommendation.png') 20px center no-repeat;padding-left:70px;">
  Service Cards &raquo;
  <a href="">Recommandations</a>
</div>
<div style="width:100%;height:100%;padding:20px 10px 10px 10px;background-color:#E8E7E3;" id="page">
  <div id='services'>
  </div>
  <div id='data'>
  {% for service in SERVICES%}
    <div class='clip'>
    <img src="/gallery/image/{{service.name}}/default/icon/?"></img>
    <ul>
    <li class='fade right'>{{service.type}}</li>
    <li class='name'><a href="/core/service/{{service.name}}">{{service.name}}</a></li>
    <li class='fade'>{{service.email}}</li>
    <li class='dscp'>{{service.description}}</li>
    </ul>
    </div>
  {% endfor %}
  </div>
  <div class='foot'>
  </div>
</div>
{% endblock %}


