{% extends 'core/clean.html' %}
{% load glue_filters %}
{% block title %} zoyoe sydneyscent {% endblock %}

{% block css_link %}
  <link rel="stylesheet" href="/css/contrib/element.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/dialog.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/nav.css" type="text/css" media="all" charset="utf-8"/>
{% endblock %}

{% block js_link %}
  <script type="text/javascript" charset="utf-8"
          src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js">
  </script>
  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <!-- need finally make a new js file contain all the info manage script -->	
  <script type="text/javascript" src="/js/mesh.js"></script>
  <!-- Project Components -->
  <script type="text/javascript" src="/js/comps.js"></script>
  <script type="text/javascript" src="/js/zoyoe.js"></script>
  <script type="text/javascript" src="/js/ele.js"></script>
  <script type="text/javascript" src="/js/ui.js"></script>
  <script type="text/javascript">
    function document_load(){
      YUI().use('node','anim','io-form',function(Y){
        zoyoe.ArrangeClips('services','data')
        zoyoe.InitZoyoe(false,Y);
        zoyoe.admin = InitAdmin(zoyoe);
        zoyoe.map = new MapInfoCore(function(rmap){
        },null,null);
      });
    }
  </script>

{% endblock %}

{% block nav %}
  <li class='menu'><a href='/zoyoe/'>Zoyoe</a></li>
  <li class='menu'><a href='/search/'>Service Cards</a></li>
  <li class='menu'><a href='/map/'>Distribution</a></li>
  <li class='menu'><a href='/forum/'>Forum</a></li>
  <li class='menu'><a href='/gallery/main'>Gallery</a></li>
  {% include "core/_usrmenu.html" %}
{% endblock %}

{% block content %}
<div class='nav-sup'>
  Service Cards &raquo;
  <a href="">My Services</a>
  <span class="btnblue" onclick="zoyoe.admin.ShowAddServiceDialog()" style="float:right;margin:0px;">
  publish a new service
  </span>
</div>
<div style="width:100%;height:100%;padding:20px 10px 10px 10px;background-color:#E8E7E3;" id="page">
  <div id='services'>
  </div>
  <div id='data'>
  {% for service in SERVICES%}
    <div class='clip'>
    <img src="/gallery/imageicon/{{service.name}}/icon/?"></img>
    <ul>
    <li class='name'><a href="/core/service/{{service.name}}">{{service.name}}</a></li>
    <li class='fade'>{{service.email}}</li>
    <li class='dscp'>{{service.description}}</li>
    </ul>
    </div>
  {% endfor %}
  </div>
  <div class='foot'>
  </div>
</div>
{% endblock %}
