{% load i18n pybb_tags %}

<h2>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</h2>

<form class="post-form" action="{% if forum %}{% url pybb_topic_add forum.pk %}{% else %}{% url pybb_post_add topic.pk %}{% endif %}" method="post" enctype="multipart/form-data">
    {% pybb_csrf %}
    <div class="preview-box" style="display: none">
        <div class="content"></div>
    </div>
    {{ form.as_p }}
    <p class="submit">
        <input type="submit" value="{% trans 'Submit' %}" />
        <input class="preview-button" type="button" value="{% trans 'Preview' %}" />
    </p>
</form>

