{% extends 'core/clean.html' %}
{% load hash_filters %}
{% load comp_filters %}

{% block css_link %} 
  <link rel="stylesheet" href="/css/contrib/960.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/nav.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/dialog.css" type="text/css" media="all" charset="utf-8"/>

<style type="text/css">
.mission{
 background: transparent url("/res/bg/target.png") center 9px no-repeat;
}

.servicecard{
 background: transparent url("/res/bg/text.png") center 7px no-repeat;
}

.startusing{
 background: transparent url("/res/bg/play.png") center 7px no-repeat;
}

.collection{
 background: transparent url("/res/bg/collection.png") center 7px no-repeat;
}

.support{
 background: transparent url("/res/bg/support.png") center 7px no-repeat;
}
.approach{
 width:300px;
 height:110px;
 margin:0px 30px 0px 30px;
 border:1px solid #EAEAEA;
}
#steps div.step label{
 padding:5px 0px 0px 20px;
 display:block;
 margin:0px 0px 10px 0px;
 font-size:22px;
 font-weight:normal;
 position:relative;
 left:-10px;
 font-family: Georgia;
 color:#1e4f76;
}
#steps div.step p{
  margin:8px 0 17px 0;
}
#steps div.step{
 font-size:12px;
 padding:10px 5px 10px 20px;
 margin:0px 0px 20px 0px;
 border-bottom:1px solid #AAA;
 border-top:1px solid #EAEAEA;
 border-left:1px solid #EAEAEA;
 border-right:1px solid #AAA;
}
#foot{
 margin-top:30px;
}
</style>


{% endblock %}

{% block js_link %}
 <script type="text/javascript" charset="utf-8"
        src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js">
 </script>
 <script type="text/javascript" src="/js/comps.js"></script>
 <script type="text/javascript" src="/js/ui.js"></script>
 <script type="text/javascript" src="/js/zoyoe.js"></script>
 <script type="text/javascript" src="/js/ele.js"></script>
 <script type="text/javascript">
    function document_load(){
      YUI().use('node','anim','io-form',function(Y){
        zoyoe.InitZoyoe(false,Y,{static_dialog:true});
        zoyoe.admin = InitAdmin(zoyoe);
      });
    }
  </script>

{% endblock %}

{% block nav %}
  <li class='menu'><a href='/zoyoe/'>Zoyoe</a></li>
  <li class='menu'><a href='/search/'>Service Cards</a></li>
  <li class='menu'><a href='/map/'>Distribution</a></li>
  <li class='menu'><a href='/forum/'>Forum</a></li>
  <li class='menu'><a href='/gallery/main'>Gallery</a></li>
  {% include "core/_usrmenu.html" %}
{% endblock %}

{% block content %}
 <div class='nav-sup' style="border-bottom:90px solid white;">
       <div class='photo-block'>
         <h1 style="font-weight:bolder;font-size:35px;font-family:Times New Roman, Times, serif;">
         tools for your local services online 
         </h1>
         <h2 style="font-size:15px;font-family:">
         zoyoe, integrating your local business with your online community
         </h2>
         <div class="buttons shadow">
           <div class="button startusing current">
             Start Using 
           </div>
           <a href="/zoyoe/mission/" class="button mission">
             Our Mission 
           </a>
           <div class="button servicecard">
             Our Programs
           </div>
           <a href="/glue/collection/myservices" class="button collection">
             My Services 
           </a>
           <div class="button support">
             Support & Forum
           </div>
         </div>
       </div>
 </div>
 <div class='container_12' id='steps'>
 <div class='step'>
  <label> Advertising your service uniformly</label>
  <iframe style="width:605px;height:350px;margin:10px 10px 10px 5px;float:left;" frameborder='0' src='/wiki/card.html'></iframe>
  <p style='float:right;width:300px;'>
  To start with, you need to create a zoyoe web page that contains your basic infomation about yourself and your service.
  </p>
  <p style='float:right;width:300px;'>
  After that you can manage the content of your service by uploading images to your gallery, writing down your time table and fullfill the items your will provide in your service.
  </p>
  <p style='float:right;width:300px;'>
  If you have already got your social pages like facebook wall, twitter page, digg or a dedicated web page setup, then you probably need to connect them into your zoyoe web page.
  </p>
  <p style='float:right;width:300px;'>
  Once you've done all these, you can create a business card just as showed in the left.
  </p>
  <p style='float:right;width:300px;'>
  You can plug your business card into any kind of content you publish on your local classfield , bbs , your blog , your dedicated web page, etc ...
  You can also plug this into your retailing pages like ebay product pages and email retailing pages.
  </p>
  <br style="clear:both"/>
 </div>
{% endblock %}

{% block tail %}
 {% include "core/_tail.html" %}
{% endblock %}
